<!--
<ion-header-bar class="bar-positive">
	<h1 class="title">Pick Airports</h1>
</ion-header-bar>
-->
<ion-view view-title="Search Flights">
	<ion-content>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Origin:</span>
		<input type="text" placeholder="enter your origin" ng-model="src">
	</label>
	<h4>{{src}}</h4>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Destination:</span>
		<input type="text" placeholder="enter your destination" ng-model="dest">
	</label>
	<h4>{{dest}}</h4>
	<button class="button button-full button-positive" ng-click="ctrl.next(src, dest)">
		submit
	</button>
	</ion-content>
</ion-view>
