<!--
<ion-header-bar class="bar-positive">
	<h1 class="title">Pick Airports</h1>
</ion-header-bar>
-->
<ion-view view-title="time / date">
	<ion-content>
	<label class="item item-input item-stacked-label">
		<span class="input-label">From:</span>
		<input type="date" placeholder="from" ng-model="from">
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Until:</span>
		<input type="date" placeholder="until" ng-model="until">
	</label>
	<button class="button button-full button-positive" ng-click="ctrl.next(from, until)">
		submit
	</button>
	</ion-content>
</ion-view>
